@import "../../library.blocks/bootstrap/bootstrap-reboot";
@import "../variable-color";

.card-product {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.148211);
  border-radius: 8px;
  padding: 15px 15px 17px 19px;

  &__title {
    display: flex;
    align-items: center;
  }
}


///////
//#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
//  background: url('../../../img/desktop/css_sprites.png') no-repeat;
//}
//
//#reviewStars-input {
//
//  /*fix floating problems*/
//  overflow: hidden;
//  *zoom: 1;
//  /*end of fix floating problems*/
//
//  position: relative;
//  float: left;
//}
//
//#reviewStars-input input {
//  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
//  opacity: 0;
//
//  width: 43px;
//  height: 40px;
//
//  position: absolute;
//  top: 0;
//  z-index: 0;
//}
//
//#reviewStars-input input:checked ~ label {
//  background-position: 0 -40px;
//  height: 40px;
//  width: 43px;
//}
//
//#reviewStars-input label {
//  background-position: 0 0;
//  height: 40px;
//  width: 43px;
//  float: right;
//  cursor: pointer;
//  margin-right: 10px;
//
//  position: relative;
//  z-index: 1;
//}
//
//#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
//  background-position: 0 -40px;
//  height: 40px;
//  width: 43px;
//}
//
//#reviewStars-input #star-0 {
//  left: 0px;
//}
//#reviewStars-input #star-1 {
//  left: 53px;
//}
//#reviewStars-input #star-2 {
//  left: 106px;
//}
//#reviewStars-input #star-3 {
//  left: 159px;
//}
//#reviewStars-input #star-4 {
//  left: 212px;
//}
//#reviewStars-input #star-5 {
//  left: 265px;
//}