@import "../library.blocks/bootstrap/bootstrap-reboot";

.address-btc {
  background: #fff;
  padding: 15px 20px 40px;

  .btn-success {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.170658);
  }

  input[type=text] {
    border-color: #BCDFC8;
  }
}

.address-btc__title {
  font-size: 18px;
  color: #353535;
  line-height: 28px;
  text-align: center;
}

.address-btc__desc-text {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #1E1E1E;
}

.address-btc__text {
  font-size: 12px;
  color: #393939;
  margin-bottom: 0;
}

.address-btc__img-qr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 12px;
}

.address-btc__list {
  padding-left: 13px;
  list-style-type: none;

  li {
    font-size: 12px;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: 0.15px;

    &:before {
      content: '.';
      font-size: 25px;
      color: #1E1E1E;
      position: absolute;
      top: -16px;
      left: -10px;
    }
  }
}