@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.block-product {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 7px;
    padding-bottom: 9px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      background: #E4E4E4;
      width: 200%;
      left: 0;
      height: 2px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    min-width: 87px;
  }

  &__title-text {
    color: #7E7E7E;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
  }

  &__title-text-green {
    color: #1BA450;
    font-weight: 500;
  }

  &__title-block {
    span {
      color: #000000;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      padding: 3px;
      background: #D8D8D8;
      border-radius: 2px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
  }

  &__price-first {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 0;
  }

  &__price-second {
    font-size: 10px;
    line-height: 20px;
    color: #858585;
  }

  &__btn {
    border: 1px solid $color-button;
    border-radius: 6px;
    color: $color-button;
    background: #fff;
    min-height: 42px;
    padding: 13px 8px 15px 9px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    outline: none;

    &:hover {
      background: $color-buttonHover;
      color: #fff;
      outline: none;
    }
  }

}

@media (max-width: 350px) {
  .block-product__btn {
    margin-left: 5px;
  }

  .block-product__price-first {
    font-size: 13px;
  }
}