@import "../library.blocks/bootstrap/bootstrap-reboot";

.btn-bottomSection__checkbox {
  display: none;
}

.btn-bottomSection__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
}

input[type=checkbox] + .btn-bottomSection__label:before {
  content: "";
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 17px;
  min-width: 17px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  background: url("../img/green-border.svg") no-repeat center;
  background-size: 100% auto;
  border: none !important;
}

input[type=checkbox]:checked + .btn-bottomSection__label:before {
  background: url("../img/cheked.svg") no-repeat center;
  background-size: 100% auto;
}