@import "../library.blocks/bootstrap/bootstrap-reboot";

.btn-bottomSection__checkbox {
  display: none;
}

.btn-bottomSection__label {
  position: relative;
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
}

input[type=checkbox] + .btn-bottomSection__label:before {
  content: "";
  color: transparent;
  display: inline-block;
  border: 1px solid #1BA450;
  border-radius: 3px;
  font-size: 20px;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 17px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

input[type=checkbox]:checked + .btn-bottomSection__label:after {
  content: "";
  background: #1BA450;
  width: 11px;
  height: 11px;
  border-radius: 2px;
  position: absolute;
  left: 3px;
  bottom: 7px;
  display: inline-block;
}
