@import "../library.blocks/bootstrap/bootstrap-reboot";

.converter {
  display: flex;
  justify-content: space-between;
  background: #E1EDE5;
  border-radius: 5px;
}

.converter__left-column {
  width: 100%;
}

.converter__right-column {
  background: #BCDFC8;
  border-radius: 0 5px 5px 0;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converter__left-column-text {
  font-size: 12px;
  line-height: 14px;
  color: #424242;
  margin-bottom: 6px;
}

.converter__left-column-greenNumber {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.325px;
  color: #089D42;
  line-height: 30px;
}

.converter__left-column-row {
  height: 50%;
  padding: 5px 10px 10px 10px;
}

.converter-line {
  background: #F2F6F3;
  width: 100%;
  height: 2px;
}

.converter__left-column-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.converter__advice {
  padding: 7px 6px;
  width: 60px;
  height: 38px;
  background: #ffffff;
  border-radius: 3px;
}

.converter__advice-text {
  font-size: 10px;
  color: #089D42;
  margin-bottom: 0;
  line-height: 12px;
}

.converter__left-column-second-textNumber {
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
}

.converter__right-column-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #1E1F1E;
}

.converter__right-column-textGreen {
  font-weight: bold;
  color: #167B38;
}

.converter__right-column-arrowsCheck {
  display: none;
}

.converter__right-column-arrows {
  background: #E1EDE5;
  border-radius: 4px;
  width: 33px;
  height: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.converter__right-column-arrowsIcon {
  background: url("../img/arrow-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 12px;
  height: 14px;
  display: block;
  margin-bottom: 0;
}

.converter__right-column-arrowsCheck:checked ~ .converter__right-column-arrowsIcon {
   transform: rotate(180deg);
}