@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.header {
  background: #ffffff;
}

.header_indent {
  padding-top: 19px;
  margin: 0 auto;
}

.header-burger {
  height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-burger__line {
  background: #676767;
  width: 18px;
  height: 2px;
  position: relative;
}

.header-burger__line:before {
  content: '';
  position: absolute;
  top: -4px;
  background: #676767;
  width: 18px;
  height: 2px;
}

.header-burger__line:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: #676767;
  width: 18px;
  height: 2px;
}

.header-logo {
  background: url("../img/header-logo.png") no-repeat center;
  background-size: 100% auto;
  width: 87px;
  height: 19px;
  display: block;
}

.header-logo_indent {
  margin-left: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header-informational {
  margin-left: auto;
  display: flex;
}

.header-notifications {
  position: relative;
  background: url("../img/icon-bell.png") no-repeat center;
  background-size: 100% auto;
  width: 21px;
  height: 20px;
  display: block;
}

.header-notifications__informer {
  position: absolute;
  background: $color-button;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  left: 10px;
  top: -5px;
}

.header-profile {
  background: url("../img/menu-icon/icon-profile.svg") no-repeat center;
  background-size: 100% auto;
  width: 19px;
  height: 19px;
  display: block;
  margin-left: 16px;
}