@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.list-items__ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 25px;
}

.list-items__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  span {
    font-size: 12px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }

  span:last-child {
    font-weight: bold;
  }
}

.list-items_padding {
  padding: 22px 24px 18px;
}

.list-items__title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #262628;
  display: block;
  margin-bottom: 29px;
}

.list-items__footer {
  display: flex;
  flex-direction: column;

  span {
    font-size: 12px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.list-items__footer-text {
  font-weight: bold;
  margin-top: 7px;
}