@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.message-block {
  padding-left: 11px;
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.message-block__img {
  min-width: 45px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding-bottom: 18px;

  img {
    background: #D8D8D8;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
}

.message-block__text {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D8D8D8;
  width: 100%;
  padding-bottom: 17px;
  overflow: hidden; /* Обрезаем содержимое */
  padding-right: 10px;
  text-overflow: ellipsis;
}

.message-block__text-content {
  margin-bottom: 0;
  color: #8F8E94;
  font-size: 14px;
  overflow: hidden; /* Обрезаем содержимое */
  white-space: nowrap; /* Отменяем перенос текста */
  text-overflow: ellipsis;
}

.message-block__text-name {
  font-size: 14px;
  color: #030303;
  font-weight: 500;
}