@import "../library.blocks/bootstrap/bootstrap-reboot";

.modal-type-acc {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  .modal-body {
    padding: 14px;
  }
}

.modal-content.modal-type-acc__title {
  background-color: initial;
  border: none;
  color: #ffffff;
  text-align: center;

  h2 {
    font-size: 20px;
    font-weight: normal;
  }
}

.modal-type-acc__block {
  display: flex;
}

.modal-type-acc__block-text {
  display: flex;
  flex-direction: column;

  span {
    color: #009A3C;
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 10px;
    color: #000;
    margin-bottom: 0;
  }
}

.modal-type-acc__block-img {
  min-width: 46px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-type-acc__block-icon {
  background: url("../img/modal-icon.png") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 46px;
}









.Modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background: rgba(0,0,0,0.7);
  pointer-events: none;
}
.Modal:target {
  display: flex;
  pointer-events: auto;
}
.Modal_Body {
  position: relative;
  z-index: 2;
  display: block;
  margin: auto;
  padding: 15px;
  background: initial;
}
.ModalFull {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.Modal_Body__close {
  background: url("../img/icon-close-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.Modal_Body-conditions {
  padding-left: 40px;
  padding-right: 40px;

  .modal-body {
    padding: 25px 16px 63px;
    position: relative;
  }

  .modal-type-acc__block {
    p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .Modal_Body__close {
    background: initial;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #006E00;
    right: 16px;
    bottom: 10px;
    position: absolute;
    top: auto;
    width: auto;
  }
}