@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.offers-item {
  width: 135px;
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  margin-right: 13px;
  outline: none;
}

.offers-item.active {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.244339);
  background: $color-button;

  * {
    color: #ffffff;
  }

  .offers-item__priceBox {
    border-bottom: 1px solid #ffffff;
  }
}

.offers-item__contentCheck {
  display: none;
}

.offers-item__contentIcon {
  background: url("../img/check-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 12px;
  height: 7px;
  margin-bottom: 0;
}

.offers-item__contentCheck:checked ~ .offers-item__contentIcon {
  transform: rotate(180deg);
}

.offers-item__content-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.offers-item__content-title {
  font-size: 12px;
  color: #212121;
}

.offers-item__price {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.offers-item_padding {
  padding-left: 13px;
  padding-right: 13px;
}

.offers-item__priceBox {
  border-bottom: 1px solid #F1F1F1;
  padding-top: 12px;
  padding-bottom: 9px;
}

.offers-item__hiddenText {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.24375px;
}

.offers-list {
  padding-bottom: 17px;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
}

.offers-list .slick-list {
  padding-left: 20px;
}



//////////////////

.wrap-collabsible {
  margin-bottom: 1.2rem;
  min-width: 135px;
  width: 136px;
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  padding: 13px 13px 5px;
  overflow: hidden;
  margin-left: 13px;

  &:first-child {
    margin-left: 20px;
  }
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  padding-top: 6px;
  position: relative;
}

.lbl-toggle::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  transition: transform .2s ease-out;
  font-size: 26px;
  font-weight: 200;
  background: url("../img/check-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 12px;
  height: 7px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(180deg);
}

.collapsible-content {
  max-height: 0;
  transition: max-height .25s ease-in-out;
  overflow: scroll;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  p {
    font-size: 10px;
    color: #212121;
  }
}

.wrap-collabsible__first-text {
  padding-bottom: 8px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 200%;
    background: #D8D8D8;
    height: 1px;
    margin-left: -20px;
  }
  p {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0;
  }
}

.wrap-collabsible.active {
  background: $color-button;

  * {
    color: #ffffff;
  }

  .lbl-toggle {
    background: $color-button;
  }

  .collapsible-content .content-inner p {
    color: #ffffff;
  }

  .lbl-toggle::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    transition: transform .2s ease-out;
    font-size: 26px;
    font-weight: 200;
    background: url("../img/check-icon__white.svg") no-repeat center;
    background-size: 100% auto;
    width: 12px;
    height: 7px;
  }

}

.wrap-collabsible.wrap-collabsible-walletHistory,
.wrap-collabsible.wrap-collabsible-operation {
  margin-left: 0;
}