@import "../library.blocks/bootstrap/bootstrap-reboot";

.page-info {
  padding-left: 12px;
  padding-right: 12px;
  background: #fff;
  padding-bottom: 10px;
}

.page-info__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
  border-top: 1px solid #DDDDDD;
  padding-top: 11px;

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
  }

  .page-info__title-number {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #B8BBC6;
  }
}

.page-info__container-block {
  background: #F7F8FA;
  border-radius: 6px;
  margin-bottom: 5px;
  width: 100%;
  padding: 6px 15px 5px 8px;
  display: flex;
  align-items: center;
}

.page-info__container-block-icon {
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.page-info__container-block-iconSuccess {
  background: url("../../img/Success.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
}

.page-info__container-block-iconError {
  background: url("../../img/Error.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
}

.page-info__container-block-info {
  display: flex;
  flex-direction: column;

  time {
    font-size: 10px;
    line-height: 20px;
    color: #A3A3A3;
  }
}

.page-info__container-block-status {
  margin-left: auto;

  span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.page-info__container-block-statusSuccess {
  color: #089D42;
}

.page-info__container-block-statusError {
  color: #FF2D55;
}

.header-container-arrow {
  a {
    background: url("../../img/header-arrow.svg") no-repeat center;
    background-size: 100% auto;
    width: 19px;
    height: 13px;
    display: block;
    margin-right: 16px;
  }
}

.header-container__textInfo {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #353535;
}

.page-info-header {
  padding-bottom: 15px;
}