@import "../library.blocks/bootstrap/bootstrap-reboot";
.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 30px;
}

.profile-main__name {
  font-size: 20px;
  font-weight: 500;
  color: #262628;
}

.profile-main__review {
  font-size: 14px;
  color: #7D7D7D;
  font-weight: 500;
}

.profile-main__review-green {
  color: #00CE47;
}

.profile-main__review-red {
  color: #F30044;
}

.profile-main__text {
  color: #262628;
  font-size: 14px;
  font-weight: 500;
}

.profile-main__form {
  width: 100%;
}

.profile-main__form-textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  outline: none;
  text-align: center;
  color: #BFBFBF;
  font-size: 14px;
  resize: none;
}