@import "../library.blocks/bootstrap/bootstrap-reboot";

.review-container {
  background: #fff;
  margin-top: 3px;
  padding: 16px 12px 22px;
}

.review-container__header {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 15px;

  a {
    display: flex;
    align-items: center;
  }
}

.review-container__header-arrow {
  background: url("../img/arrow-link.svg") no-repeat center;
  background-size: 100% auto;
  width: 19px;
  height: 13px;
  display: block;
  transform: rotate(180deg);
}

.review-container__header-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #353535;
  display: block;
  margin-left: 16px;
}

.review-container__line {
  width: 100%;
  height: 1px;
  background: #DDDDDD;
  margin-bottom: 20px;
}

.review-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container__content-text {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #7D7D7D;
  width: 282px;
  margin-bottom: 0;
}

.review-container__content-block {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-top: 23px;
  margin-bottom: 30px;
}

.review-container__content-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #424242;
    display: block;
    margin-top: 10px;
  }
}

.review-container__content-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #353535;

}

.tabs.review-container-tabs {
  padding-bottom: 151px;
}

.review-container__content-blocking {
  margin-top: 8px;
  margin-bottom: 35px;

  label {
    font-size: 14px;
    line-height: 16px;
    color: #373737;
    margin-top: 21px;
    width: auto;
  }

  input[type=checkbox]:checked + .btn-bottomSection__label:after {
    left: 3px;
    bottom: 5px;
  }
}

.review-container-chat__window-comment {
  padding: 14px 13px 10px 18px;
  border-radius: 6px;
  overflow: hidden;
  background: #E9E9E9;

  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.review-container-chat__window-grey .review-container-chat__window-comment {
  background: #484848;
}

.review-container-chat__window {
  max-width: 275px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-container-chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 290px;
  overflow-y: scroll;
}

.review-container-chat__window-grey .review-container-chat__window-comment p {
  color: #ffffff;
}

.review-container-chat__window-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  width: 100%;
}

.review-container-chat__window-infoName {
  color: #919191;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
  margin-left: 0;
}

.flex-row-reverse .review-container-chat__window-infoName {
  margin-left: 10px;
  margin-right: 0;
}

.review-container-chat__window-infoData {
  font-size: 10px;
  line-height: 12px;
  color: #A7A7A7;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .review-container-chat__window {
    min-block-size: 50px;
  }
}}