@import "../library.blocks/bootstrap/bootstrap-reboot";

.right-menu {
  width: 304px;
  min-width: 80%;
  background: #ffffff;
  transition: 0.3s;
  height: 100%;
  z-index: 2000;
}

.right-menu_position {
  position: fixed;
  left: -100%;
  top: 0;
  padding-left: 8px;
  padding-right: 8px;
  overflow: scroll;
}

.right-menu_position.active {
  left: 0;
}

.right-menu__list {
  list-style-type: none;
  padding-left: 0;
}

.right-menu__link {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.right-menu__item {
  margin-top: 24px;
  background: inherit;
  border-radius: 4px;
  width: 100%;
}

.right-menu__icon {
  background-color: #F2F2F2;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.right-menu__item.active {
  background: rgba(0, 154, 60, .1);

  .right-menu__icon {
    background-color: inherit;
  }
}

.right-menu__icon-exchange:before {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-exchange.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 23px;
  height: 22px;
  display: block;
}

.right-menu__icon-purse:before {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-purse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 20px;
  height: 25px;
  display: block;
}

.right-menu__icon-operations:before  {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-operations.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 21px;
  height: 26px;
  display: block;
}

.right-menu__icon-profile:before  {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-profile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 19px;
  height: 19px;
  display: block;
}

.right-menu__icon-support:before {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-headphones.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 21px;
  height: 22px;
  display: block;
}

.right-menu__icon-conclusion:before {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-conclusion.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 20px;
  height: 21px;
  display: block;
}

.right-menu__icon-output:before {
  content: '';
  position: absolute;
  background-image: url("../../img/icon-output.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.right-menu__close {
  background: url("../../img/icon-close.svg") no-repeat center;
  background-size: 100% auto;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 14px;
}