@import "../library.blocks/bootstrap/bootstrap-reboot";

.section-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-info__link {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.section-info__arrow {
  background: url("../../img/arrow-link.svg") no-repeat center;
  background-size: 100% auto;
  width: 19px;
  height: 13px;
  display: block;
  margin-left: auto;
  margin-right: 5px;
}