@import "../library.blocks/bootstrap/bootstrap-reboot";

.section-security {
  padding-top: 15px;
  padding-bottom: 17px;
  position: relative;
}

.section-security:before {
  content: '';
  background: #D5D5D5;
  width: 120%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.security-container {
  background: #ffffff;
  overflow: hidden;
  margin-top: -1px;

  h3 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }
}

.section-security__blockLeft {
  display: flex;
  flex-direction: column;

  .section-security__block-text {
    font-size: 12px;
    color: #000;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.section-security__wrapper {
  display: flex;
}

.section-security__blockRight {
  margin-top: auto;
  margin-left: auto;

  a {
    color: #089D42;
    font-size: 12px;
    display: block;
    width: 57px;
  }
}

.section-security__wrap {
  display: flex;
  flex-direction: column;
}

.section-security__wrap-firstRow {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.section-security__wrap-secondRow {
  display: flex;
  align-items: center;
  p {
    color: #7C7C7C;
    font-size: 12px;
    line-height: 20px;
  }
}

.section-security__wrap-threeRow {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  label {
    margin-bottom: 0;
  }
}

.section-security__switch {
  position: relative;
  display: inline-block;
  min-width: 64px;
  height: 30px;
  margin-left: auto;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .4s;
    border: 1px solid #B3B3B3;

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 3px;
      bottom: 2px;
      background-color: #B3B3B3;
      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: #3BB069;
    border: 1px solid #3BB069;

    &:before {
      background: #ffffff;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #3BB069;
  }

  input:checked + .slider:before {
    transform: translateX(33px);
  }
}