@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.slider-bank-shadow {
  width: 100%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 69%);
    width: 30px;
    height: 120px;
    z-index: 1000;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(left, rgba(255,255,255,0) 0% , rgba(255,255,255,1) 69%);
    width: 30px;
    height: 120px;
    z-index: 1000;
  }
}

.slider-bank {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.slider-bank__box {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  min-width: 72px;
  width: 72px;
  height: 81px;
  margin: 10px 5px;
  margin-left: 11px;
  margin-right: 0;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  background: #ffffff;

  img {
    width: 52px;
    min-height: 51px;
  }

  &:first-child {
    margin-left: 20px;
  }
}

.slider-bank__box.active {
  background: rgba(0, 159, 6, 0.3);
  border: 1px solid #00C441;

  .slider-bank__box-text {
    color: #000;
    opacity: 1;
    font-weight: normal;
  }
}

.slider-bank__box.selected,
.slider-bank__box:hover {
  border: 1px solid #00C441;
  transition: 0.3s;
}

.slider-bank__box-text {
  font-size: 10px;
  color: #2A3427;
  opacity: 0.4;
  font-weight: 500;
  margin-top: 5px;
}

.slider-bank .slick-list {
  padding-left: 20px;
}

@media (min-width: 450px) {
  .slider-bank {
    justify-content: center;
  }
}
