@import "../library.blocks/bootstrap/bootstrap-reboot";

.slider-bank {
  height: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slider-bank__box {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 72px;
  height: 81px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding-top: 12px;

}

.slider-bank__box.active {
  background: rgba(0, 159, 6, 0.3);
  border: 1px solid #00C441;

  .slider-bank__box-text {
    color: #000;
    opacity: 1;
    font-weight: normal;
  }
}

.slider-bank__box-text {
  font-size: 10px;
  color: #2A3427;
  opacity: 0.4;
  font-weight: 500;
  margin-top: 6px;
}

.slider-bank .slick-list {
  padding-left: 20px;
}