@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.switch-btn {
  display: inline-block;
  min-width: 64px; /* ширина */
  height: 30px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
  margin-left: auto;
}

.switch-btn::after {
  content: "";
  height: 24px; /* высота кнопки */
  width: 24px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: $color-buttonHover;
}

.switch-on::after {
  left: 37px;
}