@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.tab-wrap {
  padding: 30px 12px 10px 12px;
  background: #ffffff;

  .nav-tabs {
    border-bottom: none;
  }

  .nav-item.nav-link {
    border: none;
    border-bottom: 2px solid #D5D5D5;
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
  }

  .nav-item.nav-link.active {
    border-bottom: 2px solid #1BA450;
    color: #1BA450;
  }
}




//.tabs {
//  min-width: 320px;
//  max-width: 800px;
//  padding: 0;
//  margin: 0 auto;
//  position: relative;
//}
///* Стили секций с содержанием */
//.tabs>section {
//  display: none;
//  //padding: 15px;
//  //background: #fff;
//  border: 1px solid #ddd;
//}
//.tabs>section>p {
//  margin: 0 0 5px;
//  line-height: 1.5;
//  color: #383838;
//  /* прикрутим анимацию */
//  animation-duration: 1s;
//  animation-fill-mode: both;
//  animation-name: fadeIn;
//}
///* Описываем анимацию свойства opacity */
//
//@-webkit-keyframes fadeIn {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
//@keyframes fadeIn {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
///* Прячем чекбоксы */
//.tabs>input {
//  display: none;
//  position: absolute;
//}
///* Стили переключателей вкладок (табов) */
//.tabs>label {
//  display: inline-block;
//  padding-top: 13px;
//  padding-bottom: 8px;
//  text-align: center;
//  color: #353535;
//  background: #fff;
//  width: 49%;
//  font-size: 14px;
//  font-weight: 500;
//  position: relative;
//}
//
//.triple-tabs>label {
//  width: 32%;
//}
//
//.tabs>label:after {
//  content: '';
//  position: absolute;
//  background: #ffffff;
//  width: 706%;
//  height: 100%;
//  bottom: 0;
//  left: -300%;
//  z-index: -1;
//}
//
///* Стили для активной вкладки */
//.tabs>input:checked+.label-tab {
//  border: none;
//  background: #fff;
//}
//
//.tab-span {
//  display: flex;
//  height: 100%;
//  align-items: center;
//  justify-content: center;
//  padding: 15px;
//  padding-bottom: 10px;
//}
//
//.tab-span_left {
//  padding-left: 9px;
//}
//
//.tab-span_right {
//  padding-right: 9px;
//}
//
//.tabs>input+.label-tab .tab-span {
//  border-bottom: 2px solid #D5D5D5;
//}
//
//.tabs>input:checked+.label-tab .tab-span {
//  color: #089D42;
//  border-bottom: 2px solid #1BA450;
//}
//
//#tab1:checked~.content-tab1, #tab2:checked~.content-tab2, #tab3:checked~.content-tab3 {
//  display: block;
//}
//
//.tabs:before {
//  content: '';
//  position: absolute;
//  top: 70px;
//  background: #CFE2D6;
//  width: 100%;
//  height: 1px;
//  z-index: 10;
//}


.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  //position: relative;
}
.tabs:after {
  content: "";
  clear: both;
  display: block;
  height: 100%;
}
.tabs .tabs-li {
  float: left;
  width: 50%;
  background: #fff;

  &:first-child {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 10px;
  }
}

.triple-tabs .tabs-li {
  width: 33%;
}

.tabs .tabs-li > input {
  display: none;
}
.tabs .tabs-li > label {
  display: flex;
  justify-content: center;
  border-right-width: 0;
  border-bottom-width: 0;
  line-height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  padding-top: 25px;
  margin-bottom: 10px;

  span {
    font-size: 13px;
    line-height: 28px;
  }
}
.tabs .tabs-li:last-child > label {
  border-right-width: 1px;
}
.tabs .tab-content {
  display: none;
  position: absolute;
  left: 0;
  //padding: 20px;
  overflow-y: auto;
  transition: opacity .5s ease-in-out;
  //height: 100%;
  width: 100%;
}

.tabs .tabs-li > input + label {
  border-bottom: 2px solid #D5D5D5;
}

.tabs .tabs-li > input:checked + label {
  color: #089D42;
  font-weight: 500;
  border-bottom: 2px solid #1BA450;
}
.tabs .tabs-li > input:checked ~ .tab-content {
  display: block;
}