@import "../library.blocks/bootstrap/bootstrap-reboot";

.tab-wrap {
  padding: 30px 12px 10px 12px;
  background: #ffffff;

  .nav-tabs {
    border-bottom: none;
  }

  .nav-item.nav-link {
    border: none;
    border-bottom: 2px solid #D5D5D5;
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
  }

  .nav-item.nav-link.active {
    border-bottom: 2px solid #1BA450;
    color: #1BA450;
  }
}




.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
  display: none;
  //padding: 15px;
  //background: #fff;
  border: 1px solid #ddd;
}
.tabs>section>p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Прячем чекбоксы */
.tabs>input {
  display: none;
  position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: center;
  color: #353535;
  background: #fff;
  width: 49%;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.triple-tabs>label {
  width: 32%;
}

.tabs>label:after {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 706%;
  height: 100%;
  bottom: 0;
  left: -300%;
  z-index: -1;
}

/* Стили для активной вкладки */
.tabs>input:checked+.label-tab {
  border: none;
  background: #fff;
}

.tab-span {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  padding-bottom: 10px;
}

.tab-span_left {
  margin-left: 9px;
}

.tab-span_right {
  margin-right: 9px;
}

.tabs>input:checked+.label-tab .tab-span {
  color: #089D42;
  border-bottom: 2px solid #1BA450;
}

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}
