@import "../library.blocks/bootstrap/bootstrap-reboot";

.transactions-beginning-page__first-slide-mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 1px solid #D8D8D8;
}


.transactions-beginning-page__section {
  background: #ffffff;
}


.transactions-beginning-page__section.transactions-beginning-page__section-active {
  background: #D0EED1;
}

.transactions-beginning-page__first-slide {
  background: #ffffff;
  padding: 19px 12px;
  margin-top: 2px;
}

.transactions-beginning-page__first-slide-mainInfo-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
}

.transactions-beginning-page__first-slide-mainInfo-percent {
  font-weight: bold;
  font-size: 32px;
  color: #00A037;
  line-height: 20px;
  margin-bottom: 8px;
}

.transactions-beginning-page__first-slide-mainInfo-sum {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 18px;
}

.transactions-beginning-page__first-slide-mainInfo-link {
  font-size: 14px;
  color: #1BA450;
}

.transactions-beginning-page__first-slide-bottomBlock {
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.transactions-beginning-page__first-slide-bottomBlock-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 14px;
    color: #B2B2B2;
    margin-bottom: 7px;
  }

  span {
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #000000;
  }
}



.transactions-beginning-page__second-slide,
.transactions-beginning-page__three-slide,
.transactions-beginning-page__fourth-slide {
  padding: 19px 20px 23px;
  margin-top: 9px;
}

.transactions-beginning-page__section-firstRow {
  display: flex;
  align-items: center;
}

.transactions-beginning-page__number-block {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1BA450;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1BA450;
  margin-right: 13px;
}

.transactions-beginning-page__section-active {
  .transactions-beginning-page__number-block {
    color: #ffffff;
    background: #1BA450;
  }
}

.transactions-beginning-page__section-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #353535;
  margin-bottom: 0;
}

.transactions-beginning-page__section-iconComment {
  background: url("../img/icon-comment.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 21px;
  display: block;
  margin-left: auto;
  position: relative;
}

.transactions-beginning-page__section-informer {
  background: #00CC4F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.87);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
}

.form-button {
  .form-group {
    background: #EEF2F0;
    display: flex;
    align-items: center;
    border: 1px solid #BCDFC8;
    border-radius: 5px;
    padding-left: 10px;
    height: 42px;

    input {
      background: #EEF2F0;
      border: none;
      box-shadow: none;
      outline: none;

      &:focus, &:active {
        border: none;
        box-shadow: none;
        outline: none;
        background: #EEF2F0;
      }
    }

    a {
      margin-right: 9px;
      margin-left: auto;
      color: #1BA450;
      text-decoration: none;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.transactions-beginning-page__section-content-text {
  font-size: 12px;
  line-height: 20px;
  color: #7D7D7D;
  margin-top: 10px;
  margin-bottom: 10px;
}

.transactions-beginning-page__btn-block {
  margin: 17px 20px 32px;

  button {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    height: 42px;
  }
}

.transactions-beginning-page__section-arrival {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.transactions-beginning-page__section-arrival-text {
  background: #E1EDE5;
  height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #353535;
  }
}

.transactions-beginning-page__section-arrival-status {
  background: #F7F8FA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding-left: 38px;
  padding-right: 35px;
  width: 100%;
}

.transactions-beginning-page__section-arrival-status-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 18px;
  background: url("../img/Check-icon-grey.svg") no-repeat center;
  background-size: 100% auto;
  margin-left: auto;
}

.transactions-beginning-page__section-arrival-status-icon.transactions-beginning-page__section-arrival-status-iconSuccess {
  background: url("../img/Check-icon-green.svg") no-repeat center;
  background-size: 100% auto;
}

.transactions-beginning-page__second-slide {
  .btn-success {
    display: none;
  }

  .btn-outline-secondary {
    display: block;
  }
}

.transactions-beginning-page__second-slide.transactions-beginning-page__section-active {
  .btn-success {
    display: block;
  }

  .btn-outline-secondary {
    display: none;
  }
}

.transactions-beginning-page__section-arrival-status-text {
  margin-right: auto;
}

.icon-bank {
  background: url("../img/icon-bank.png") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 38px;
  display: block;
  margin-right: 5px;
}

.form-button .form-group .button-bank {
  display: flex;
  align-items: center;
  background: #BCDFC8;
  margin-right: 0;
  padding-right: 8px;
  padding-left: 5px;
  color: #353535;
  height: 100%;
}

.form-button .form-group__sale {
  background: #ffffff;
  
  input {
    background: #ffffff;

    &:active, &:focus {
      background: #ffffff;
    }
  }
}

.form-button .form-group__grey {
  background: #EEF2F0;

  input {
    background: #EEF2F0;

    &:active, &:focus {
      background: #EEF2F0;
    }
  }
}

.transactions-beginning-page__section-content-text_black {
  color: #393939;
}

.transactions-beginning-page__three-slide {
  .btn-success {
    display: none;
  }

  .btn-grey {
    display: block;
  }
}

.transactions-beginning-page__three-slide.transactions-beginning-page__section-active {
  .btn-success {
    display: block;
  }

  .btn-grey {
    display: none;
  }
}

.btn.btn-success.disabled, .btn.btn-success:disabled {
  background: #BCDFC8;
  color: #353535;
  border: none;
  opacity: 1;
}

.text-box-span {
  padding-left: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

@media (max-width: 355px) {
  .transactions-beginning-page__section-arrival-status {
    padding-left: 24px;
    padding-right: 10px;
  }

  .text-box-span {
    padding-left: 10px;
    font-size: 15px;
  }
}
