$color-button: #00CC4F;
$color-buttonHover: #3BB069;
$hoverMenu: #E3F4EA;
$bgSelector: #F7F8FA;
$hoverBgSelector: #EAECF0;
$bgAddInfo: #070707;
$bgInfo: #BCDFC8;
$inactiveButton: #C3C3C3;
$secondaryButtonBorder: 1px solid #9D9D9D;