@import "../library.blocks/bootstrap/bootstrap-reboot";

.your-balance {
  background: url("../img/your-balance__bg.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 32px 12px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.your-balance__first {
  display: flex;
}

.your-balance__first-btn {
  width: 36px;
  height: 36px;
  margin-top: 22px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.375px;
  color: #20892C;

  font-weight: 300;
  font-size: 25px;
}

.your-balance__first-plus {
  margin-right: 8px;
}

.your-balance__first-minus {
  margin-left: 8px;
}

.your-balance__first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-balance__first-content-title {
  font-size: 20px;
  font-weight: 500;
}

.your-balance__first-content-balance {
  font-size: 40px;
  font-weight: bold;
}

.your-balance__first-content-thinFont {
  font-weight: normal;
}

.your-balance__first-content-bank {
  padding: 4px 37px;
  background: rgba(0, 0, 0, .47);
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.285714px;
  margin-top: 8px;
  margin-bottom: 41px;
}

.your-balance__line {
  background: #7DCF7A;
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
}

.your-balance__second {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 7px;
  padding-right: 34px;
}

.your-balance__second-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-balance__second-column-title {
  font-weight: 500;
  font-size: 14px;
}

.your-balance__second-column-number {
  font-size: 14px;
  letter-spacing: 0.25px;
}